.g-wrap {
  position: relative;
  margin: auto;
  background: #0b1a3a;
  overflow: hidden;
  width: 100%;
  height: 97%;
}
.g-wrap::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  box-shadow: 0 0 0 0 #fff, 10px 56px 0 0.2px rgba(255, 255, 255, 0.8),
  176px 82px 0 0.2px rgba(255, 255, 255, 0.8), 92px 154px 0 0.4px rgba(255, 255, 255, 0.8),
  17px 103px 0 0.3px rgba(255, 255, 255, 0.8), 267px 455px 0 0.2px rgba(255, 255, 255, 0.8),
  91px 56px 0 0.5px rgba(255, 255, 255, 0.8), 273px 40px 0 0.3px rgba(255, 255, 255, 0.8),
  31px 307px 0 0.6px rgba(255, 255, 255, 0.8), 343px 286px 0 0.5px rgba(255, 255, 255, 0.8),
  290px 449px 0 0.1px rgba(255, 255, 255, 0.8), 133px 230px 0 0.1px rgba(255, 255, 255, 0.8),
  242px 408px 0 0.5px rgba(255, 255, 255, 0.8), 94px 475px 0 0.5px rgba(255, 255, 255, 0.8),
  124px 226px 0 0.1px rgba(255, 255, 255, 0.8), 152px 79px 0 0.1px rgba(255, 255, 255, 0.8),
  347px 207px 0 0.3px rgba(255, 255, 255, 0.8), 289px 196px 0 0.5px rgba(255, 255, 255, 0.8),
  218px 327px 0 0.3px rgba(255, 255, 255, 0.8), 96px 232px 0 0.2px rgba(255, 255, 255, 0.8),
  31px 424px 0 0.3px rgba(255, 255, 255, 0.8), 116px 356px 0 0.1px rgba(255, 255, 255, 0.8),
  311px 258px 0 0.1px rgba(255, 255, 255, 0.8), 74px 135px 0 0.6px rgba(255, 255, 255, 0.8),
  78px 484px 0 0.5px rgba(255, 255, 255, 0.8), 60px 326px 0 0.5px rgba(255, 255, 255, 0.8),
  61px 185px 0 0.5px rgba(255, 255, 255, 0.8), 25px 42px 0 0.3px rgba(255, 255, 255, 0.8),
  294px 74px 0 0.3px rgba(255, 255, 255, 0.8), 222px 134px 0 0.1px rgba(255, 255, 255, 0.8),
  31px 297px 0 0.3px rgba(255, 255, 255, 0.8), 156px 415px 0 0.3px rgba(255, 255, 255, 0.8),
  248px 401px 0 0.5px rgba(255, 255, 255, 0.8), 176px 41px 0 0.6px rgba(255, 255, 255, 0.8),
  169px 12px 0 0.2px rgba(255, 255, 255, 0.8), 132px 118px 0 0.4px rgba(255, 255, 255, 0.8),
  164px 25px 0 0.2px rgba(255, 255, 255, 0.8), 144px 331px 0 0.1px rgba(255, 255, 255, 0.8),
  104px 432px 0 0.4px rgba(255, 255, 255, 0.8), 140px 147px 0 0.4px rgba(255, 255, 255, 0.8),
  121px 116px 0 0.3px rgba(255, 255, 255, 0.8), 304px 148px 0 0.4px rgba(255, 255, 255, 0.8),
  274px 413px 0 0.2px rgba(255, 255, 255, 0.8), 136px 375px 0 0.5px rgba(255, 255, 255, 0.8),
  74px 453px 0 0.5px rgba(255, 255, 255, 0.8), 115px 214px 0 0.6px rgba(255, 255, 255, 0.8),
  169px 205px 0 0.3px rgba(255, 255, 255, 0.8), 96px 161px 0 0.5px rgba(255, 255, 255, 0.8),
  340px 148px 0 0.6px rgba(255, 255, 255, 0.8), 111px 308px 0 0.4px rgba(255, 255, 255, 0.8),
  85px 481px 0 0.5px rgba(255, 255, 255, 0.8), 193px 255px 0 0.5px rgba(255, 255, 255, 0.8),
  225px 141px 0 0.3px rgba(255, 255, 255, 0.8), 349px 178px 0 0.4px rgba(255, 255, 255, 0.8),
  343px 181px 0 0.6px rgba(255, 255, 255, 0.8), 46px 456px 0 0.2px rgba(255, 255, 255, 0.8),
  234px 31px 0 0.3px rgba(255, 255, 255, 0.8), 53px 408px 0 0.3px rgba(255, 255, 255, 0.8),
  304px 492px 0 0.3px rgba(255, 255, 255, 0.8), 55px 36px 0 0.6px rgba(255, 255, 255, 0.8),
  113px 437px 0 0.2px rgba(255, 255, 255, 0.8), 347px 315px 0 0.3px rgba(255, 255, 255, 0.8),
  312px 61px 0 0.3px rgba(255, 255, 255, 0.8), 16px 187px 0 0.6px rgba(255, 255, 255, 0.8),
  113px 358px 0 0.5px rgba(255, 255, 255, 0.8), 186px 437px 0 0.1px rgba(255, 255, 255, 0.8),
  308px 498px 0 0.6px rgba(255, 255, 255, 0.8), 213px 457px 0 0.1px rgba(255, 255, 255, 0.8),
  177px 146px 0 0.1px rgba(255, 255, 255, 0.8), 328px 359px 0 0.3px rgba(255, 255, 255, 0.8),
  73px 394px 0 0.4px rgba(255, 255, 255, 0.8), 323px 31px 0 0.5px rgba(255, 255, 255, 0.8),
  54px 150px 0 0.6px rgba(255, 255, 255, 0.8), 35px 109px 0 0.6px rgba(255, 255, 255, 0.8),
  238px 30px 0 0.3px rgba(255, 255, 255, 0.8), 332px 485px 0 0.1px rgba(255, 255, 255, 0.8),
  167px 272px 0 0.5px rgba(255, 255, 255, 0.8), 286px 488px 0 0.5px rgba(255, 255, 255, 0.8),
  295px 33px 0 0.1px rgba(255, 255, 255, 0.8), 34px 498px 0 0.2px rgba(255, 255, 255, 0.8),
  6px 85px 0 0.5px rgba(255, 255, 255, 0.8), 35px 132px 0 0.4px rgba(255, 255, 255, 0.8),
  209px 15px 0 0.2px rgba(255, 255, 255, 0.8), 173px 28px 0 0.4px rgba(255, 255, 255, 0.8),
  286px 278px 0 0.5px rgba(255, 255, 255, 0.8), 345px 489px 0 0.3px rgba(255, 255, 255, 0.8),
  19px 239px 0 0.6px rgba(255, 255, 255, 0.8), 124px 254px 0 0.3px rgba(255, 255, 255, 0.8),
  348px 494px 0 0.1px rgba(255, 255, 255, 0.8), 211px 334px 0 0.5px rgba(255, 255, 255, 0.8),
  177px 66px 0 0.1px rgba(255, 255, 255, 0.8), 94px 198px 0 0.6px rgba(255, 255, 255, 0.8),
  277px 454px 0 0.3px rgba(255, 255, 255, 0.8), 242px 92px 0 0.4px rgba(255, 255, 255, 0.8),
  109px 126px 0 0.1px rgba(255, 255, 255, 0.8), 313px 365px 0 0.2px rgba(255, 255, 255, 0.8),
  87px 88px 0 0.5px rgba(255, 255, 255, 0.8), 277px 230px 0 0.4px rgba(255, 255, 255, 0.8),
  98px 455px 0 0.2px rgba(255, 255, 255, 0.8), 299px 267px 0 0.2px rgba(255, 255, 255, 0.8),
  231px 412px 0 0.3px rgba(255, 255, 255, 0.8), 177px 89px 0 0.4px rgba(255, 255, 255, 0.8);
}

.g-aurora {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
}
.g-aurora::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 140%;
  background: #fff;
  background: radial-gradient(circle at 100% 100%, transparent 45%, #bd63c1 55%, #53e5a6 65%, transparent 85%);
  box-shadow: inset 0 0 18px 0 #0b1a3a;
  filter: url("#wave");
  mix-blend-mode: color-dodge;
  transform: rotate(45deg) scaleX(1.4);
}
svg {
  width: 0;
  height: 0;
}
