:root {
    --angle: 90deg;
    --gradX: 100%;
    --gradY: 50%;
    --d: 2500ms;
    --c1: rgba(168, 239, 255, 1);
    --c2: rgba(66, 106, 116, 0.1);
}
@property --angle {
    syntax: '<angle>';
    initial-value: 90deg;
    inherits: true;
}
@property --gradX {
    syntax: '<percentage>';
    initial-value: 50%;
    inherits: true;
}
@property --gradY {
    syntax: '<percentage>';
    initial-value: 0%;
    inherits: true;
}
.wrapper {
    display: flex;
    align-content: center;
    justify-content: center;
    min-width: min(40rem, 100%);
    background: linear-gradient(45deg, #0081ff, #1cbbb4);
    border-radius: 6px;
}
.box {
    width: 100px;
    height: 100px;
    font-size: 18px;
    margin: max(0.5rem, 1vw);
    border: 0.35rem solid;
    border-radius: 6px;
    padding: 1vw;
    border-image: conic-gradient(from var(--angle), var(--c2), var(--c1) 0.1turn, var(--c1) 0.15turn, var(--c2) 0.25turn) 30;
    animation: borderRotate var(--d) linear infinite forwards;
}
.box:nth-child(2) {
    border-image: radial-gradient(ellipse at var(--gradX) var(--gradY), var(--c1), var(--c1) 10%, var(--c2) 40%) 30;
    animation: borderRadial var(--d) linear infinite forwards;
}
@keyframes borderRotate {
    100% {
        --angle: 420deg;
    }
}
@keyframes borderRadial {
    20% {
        --gradX: 100%;
        --gradY: 50%;
    }
    40% {
        --gradX: 100%;
        --gradY: 100%;
    }
    60% {
        --gradX: 50%;
        --gradY: 100%;
    }
    80% {
        --gradX: 0%;
        --gradY: 50%;
    }
    100% {
        --gradX: 50%;
        --gradY: 0%;
    }
}


